body {
    padding-top: 60px;
    padding-bottom: 40px;
}

.hero-unit{
    margin-right: 40px;
    padding: 30px;
}

.section{
    margin-bottom: 10px;
}

.linklist{
    list-style: none;
    float: left;
}