<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en-us">
<head>
   <meta http-equiv="content-type" content="text/html; charset=utf-8" />
   <title>{{ page.title }} : Will Spaetzel</title>
   <meta name="author" content="Will Spaetzel" />
   <link href="http://feeds.feedburner.com/spaetzel" rel="alternate" title="Will Spaetzel" type="application/atom+xml" />

   <!-- syntax highlighting CSS -->
   <link rel="stylesheet" href="/css/syntax.css" type="text/css" />

   <!-- Homepage CSS -->
   <link rel="stylesheet" href="/css/screen.css" type="text/css" media="screen, projection" />
   <link rel="openid.server" href="http://www.myopenid.com/server" />
<link rel="openid.delegate" href="http://redune.myopenid.com/" />
<meta http-equiv="X-XRDS-Location" content="http://redune.myopenid.com/xrds" />
</head>
<body>

<div class="site">
 
  
  {{ content }}
  
  <div class="footer">
    <div class="contact">
      <p>
        Will Spaetzel<br />
        Founder of <a href="http://castroller.com/">CastRoller</a><br />
        wil<a href="http://www.google.com/recaptcha/mailhide/d?k=01yGJ2Cu2ZwqiCw5WuGgvYfQ==&amp;c=9LCC-sYemCkV8zbPhVafvcPl02wzMTKF8ZOlF9WXSQo=" onclick="window.open('http://www.google.com/recaptcha/mailhide/d?k\07501yGJ2Cu2ZwqiCw5WuGgvYfQ\75\75\46c\759LCC-sYemCkV8zbPhVafvcPl02wzMTKF8ZOlF9WXSQo\075', '', 'toolbar=0,scrollbars=0,location=0,statusbar=0,menubar=0,resizable=0,width=500,height=300'); return false;" title="Reveal this e-mail address">...</a>@spaetzel.com
      </p>
    </div>
    <div class="contact">
      <p>
        <a href="http://github.com/spaetzel/">github.com/spaetzel</a><br />
        <a href="http://twitter.com/spaetzel/">twitter.com/spaetzel</a><br />
        <a href="http://flickr.com/photos/redune/">flickr.com/photos/redune</a>
      </p>
    </div>
    <div class="rss">
      <a href="http://feeds.feedburner.com/spaetzel">
        <img src="/images/rss.png" alt="Subscribe to RSS Feed" />
      </a>
    </div>
  </div>
</div>

<script type="text/javascript">
var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");
document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));
</script>
<script type="text/javascript">
try {
var pageTracker = _gat._getTracker("UA-65655-4");
pageTracker._trackPageview();
} catch(err) {}</script>

</body>
</html>
