<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en-us">
<head>
   <meta http-equiv="content-type" content="text/html; charset=utf-8" />
   <title>{{ page.title }} : Will Spaetzel</title>
   <meta name="author" content="Will Spaetzel" />
   <link href="http://feeds.feedburner.com/spaetzel" rel="alternate" title="Will Spaetzel" type="application/atom+xml" />

<style type="text/css">
      body {
        padding-top: 60px;
        padding-bottom: 40px;
      }

      .hero-unit{
        margin-right: 40px;
      }
    </style>

   <!-- syntax highlighting CSS -->
   <link rel="stylesheet" href="/css/syntax.css" type="text/css" />


   <!-- Homepage CSS -->
   <link rel="stylesheet" href="/css/bootstrap.css" type="text/css" media="screen, projection" />
</head>
<body>


    <div class="container">
 
  
  {{ content }}


    <footer>
        <div class="contact">
      <p>
        Will Spaetzel<br />
        Founder of <a href="http://castroller.com/">CastRoller</a><br />
        will@spaetzel.com
      </p>
    </div>
    <div class="contact">
      <p>
        <a href="http://github.com/spaetzel/">github.com/spaetzel</a><br />
        <a href="http://twitter.com/spaetzel/">twitter.com/spaetzel</a><br />
        <a href="http://flickr.com/photos/redune/">flickr.com/photos/redune</a>
      </p>
    </div>
    <div class="rss">
      <a href="http://feeds.feedburner.com/spaetzel">
        <img src="/images/rss.png" alt="Subscribe to RSS Feed" />
      </a>
    </div>
      </footer>

    </div> <!-- /container -->



<script type="text/javascript">
var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");
document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));
</script>
<script type="text/javascript">
try {
var pageTracker = _gat._getTracker("UA-65655-4");
pageTracker._trackPageview();
} catch(err) {}</script>

</body>
</html>